# Config file for /usr/bin/snappy

# This item makes sure you've manually inspected/adjusted the config file
# Please change this to CONFIG_VALID=YES
CONFIG_VALID=YES

# Multiple values are allowed for PHYSICAL_DIRECTORY and LOGICAL_VOLUME
# These are the mountpoints of non-LVM partitions
# Use full paths starting with / and not ending with a /
# Example: PHYSICAL_DIRECTORY=/boot /home /var
PHYSICAL_DIRECTORY=/boot

# These are the LV's you'd like to see snapshotted followed by the
# snapshot size.
# Example: LOGICAL_VOLUME=lv1:3G lv2:500M
LOGICAL_VOLUME=root:3G

# The volume group in which the LV's are located
# Make sure the VG has enough space left or is thin-provisioned
# For the volume group only a single value is allowd
VOLUME_GROUP=fedora

# Grub-config location, optional
# If not set your system might not be bootable
GRUB_CONFIG=/boot/grub2/grub.cfg
